<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Product/Index/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-gift"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Product/AddProduct/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-gift"></i></div>
                    Yeni Ürün Kaydı
                </a>
                <a class="nav-link" href="/Customer/Index/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Customer/AddCustomer/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-user-plus"></i></div>
                    Yeni Müşteri Kaydı
                </a>
                <a class="nav-link" href="/Category/Index/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Category/AddCategory/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Yeni Kategori Kaydı
                </a>
                <a class="nav-link" href="/Job/Index/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-bicycle"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-bicycle"></i></div>
                    Yeni Meslek Kaydı
                </a>
                <a class="nav-link" href="/Settings/Index/.cshtml">
                    <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fa fa-info-circle"></i></div>
                    Yardım
                </a>
            </div>
        </div>
    </nav>
</div>