@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "Kategori Ekleme";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1 class="mt-4">Kategori Ekle</h1>

<form method="post">
    @Html.Label("Kategori Adı:")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <button class="btn btn-primary">Kategori Ekle</button>
</form>